body {
    padding-bottom: 0px !important;
}

body {
    margin-left: 0 !important;
}

.col-md-12 {
    width: 100%
}

.col-md-8 {
    width: 66.66666667%
}

.col-md-6 {
    width: 50%
}

.col-md-4 {
    width: 33.33333333%;
}

.mo-header .container {
    background-color: transparent !important;
}

.view textarea {
    width: 100%;
}

.table {
    border-bottom: 1px solid #ddd;
}

input, select, textarea {
    padding-left: 5px;
}

select {
    min-height: 28px;
}

.demo .box .view,
.column .view {
    padding-top: 13px !important;
    padding-bottom: 13px;
}

.view p {
    font-size: 16px !important;
}

h1, h3 {
    margin: 0 !important;
}

h1 {
    font-size: 28px !important;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.view h1, .view h2, .view h3, .view h4 {
    padding: 10px;
    font-weight: 600;
}

.view h2, .view h3, .view h4 {
    background-color: #ddd;
    color: #003875 !important;
}

.view h1 {
    font-size: 25px !important;
    background-color: #003875;
    color: #fff !important;
}

.view h2 {
    font-size: 20px !important;
}

.view h3 {
    font-size: 15px !important;
}

.view h4 {
    font-size: 10px !important;
}

.display-none {
    display: none;

}

.table th.success {
    text-align: center !important;
}

.text-box-table {
    width: 100%;
}

.title_info {
    z-index: 99;
    position: absolute;
    top: 25px;
    left: 9px;
    color: #fff;
}

.title_info .content {
    min-height:auto;
    max-width: 303px;
    background-color: #003875;
    line-height: 15px;
    padding: 7px 10px 10px;
    z-index: 1;
    display: none;
    border-radius: 2px;
}

.title_info i {
    cursor: pointer;
    font-size: 17px;
}

.title_info i:hover ~ .content {
    display: block;
}

h1.editable_object {
    padding-left: 29px;
}

.edit .demo .edit-text {
    position: absolute;
    top: -15px;
    right: 5px;
    z-index: 10;
    background-color: #777;
}

.edit .demo .edit-text:hover {
    background-color: #303030;
}

.edit .demo .active {
    background-color: #303030 !important;
}

.reverse {
    cursor: pointer;
}

.text-input {
    width: 100% !important;
    max-width: 200px !important;
}

.float-left {
    float: left;
}

.cencel {
    position: absolute;
    left: 20px;
    bottom: 50px;
}

.cancel {
    width: 80px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 99;
}

.save-form {
    width: 100%;
    margin-bottom: 5px;
}

.save-form i {
    font-size: 22px;
    float: right;
}

.right-text {
    position: absolute;
    display: none;
    background: white;
}

.new-group {
    height: 25px;
    position: absolute;
    color: red;
    font-size: 10px;
    cursor: pointer;
    top: 16px;
    right: 1px;
}

.new-group:hover {
    text-decoration: underline;
}

.block {
    position: absolute;
    border: 1px solid;
    height: 18px;
    border-radius: 2px;
    z-index: 9;
    background: #666;
}

.block-1 {
    width: 105px;
}

.block-6-1 {
    width: 50px;
}

.block-6-2 {
    width: 50px;
    right: 55px;
}

.block-8-1 {
    width: 60px;
}

.block-8-2 {
    width: 40px;
    right: 55px;
}

.block-4-1 {
    width: 32px;
}

.block-4-2 {
    width: 32px;
    left: 36px;
}

.block-4-3 {
    width: 32px;
    left: 73px;
}

.block-4-4 {
    width: 40px;
}

.block-4-8 {
    width: 60px;
    left: 45px;
}

#user-view .column, #user-view .row {
    border: none;
}

.empty-active {
    border-color: red;
}

#save-data {
    text-align: center;
    /*float: right;*/
}

.save-button {
    width: 100%;
    text-align: center;
}

#user-view .box {
    margin: 0;
}

.user-form .user-name span {
    float: right;
    font-size: 25px;
    color: #3c8dbc;
    margin-top: 5px;
}

.user-form .user-name-title span {
    float: right;
    font-size: 25px;
    color: #245774;
    margin-top: 5px;
}

.user-form .user-form {
    font-size: 25px;
    color: #245774;
    margin-top: 5px;
}

.user-form-button {
    margin-top: 15px;
    text-align: center;
}

#pdf .column {
    /*border: none;*/
}

.search {
    float: right;
}

#form-data-table_filter {
    display: none;
}

.search input {
    height: 36px;
    border-radius: 9px;
    font-size: 29px;
}

.search button {
    margin-top: -16px;
}

.pdf-d {
    float: right;
}

#form-data-table input {
    width: 90%;
    padding: 3px;
    display: block;
    box-sizing: border-box;
}

#form-data-table thead th:last-child {
    display: none;
}

#form-data-table td a {
    float: right;
}

.m-active {
    display: block !important;
}

.CodeMirror {
    border: 1px solid #eee;
    height: 400px;
}

.skin-blue .main-header .navbar,
.skin-blue .main-header .logo {
    background-color: #003875 !important;
}

.skin-blue aside.main-sidebar {
    background-color: #efefef !important;
}

.skin-blue .sidebar a {
    color: #000 !important;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
    color: #fff !important;
    background: #003875 !important;
    border-left-color: #c33 !important;
}

.skin-blue .sidebar-menu > li.header {
    color: #fff !important;
    background: #014b9c !important;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 0 0 0 !important;
    background: #014b9c !important;
    padding-left: 0 !important;
}

.skin-blue .treeview-menu > li > a {
    color: #fff !important;
}

.content-wrapper {
    background-color: #fff !important;
}

.table > thead > tr > td.success, .table > tbody > tr > td.success,
.table > tfoot > tr > td.success, .table > thead > tr > th.success,
.table > tbody > tr > th.success, .table > tfoot > tr > th.success,
.table > thead > tr.success > td, .table > tbody > tr.success > td,
.table > tfoot > tr.success > td, .table > thead > tr.success > th,
.table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #efefef !important;
    font-size: 16px;
    text-transform: capitalize;
}

.view .table > thead > tr > td.success, .view .table > tbody > tr > td.success,
.view .table > tfoot > tr > td.success, .view .table > thead > tr > th.success,
.view .table > tbody > tr > th.success, .view .table > tfoot > tr > th.success,
.view .table > thead > tr.success > td, .view .table > tbody > tr.success > td,
.view .table > tfoot > tr.success > td, .view .table > thead > tr.success > th,
.view .table > tbody > tr.success > th, .view .table > tfoot > tr.success > th {
    background-color: #fff !important;
    border-right: 1px solid #ddd;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
}

.btn-success {
    background-color: #003875 !important;
    border-color: #003875 !important;
    margin: 0 3px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dt-button {
    color: #fff !important;
    border: 1px solid #003875;
    background-color: #003875 !important;
    background: none;
    background-image: none !important;
}

a.dt-button:hover:not(.disabled) {
    color: #000 !important;
    background-color: #efefef !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 2.25em !important;
    padding-bottom: 1.5rem !important;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 2.5em !important;
}

div.dt-buttons {
    float: right !important;
    margin-top: 25px !important;
    margin-bottom: 20px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px !important;
}

.search #form-index {
    min-width: 160px;
}

.site-signup .form-group {
    min-height: 84px;
    margin-bottom: 0;
}

.help-block.help-block-error {
    font-size: 14px;
    margin-top: 0;
}

.skin-blue .treeview-menu > li > a {
    border-left: 3px solid transparent;
}

.skin-blue .treeview-menu > li > a:hover {
    color: #ddd !important;
    border-left: 3px solid #c33;
}

.name-title {
    font-size: 16px;
}

.devpreview .demo .column {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    border: 0 solid #ddd !important;
    border-radius: 0 !important;
    margin: 0 -1px;
}

#user-view .row, .devpreview .demo .row {
    display: flex;
    box-shadow: none;
    margin: 0 0;
}

.form-group label {
    font-weight: 600;
    font-size: 16px;
}

.checkbox-c {
    position: relative;
    top: 2px;
}

.checkbox-c input[type="checkbox"],
.checkbox-c input[type="radio"] {
    height: 15px;
    width: 15px;
}

.main-footer {
    background: #002042 !important;
    color: #fff !important;
}

.content-user-data p {
    padding: 15px 15px 20px 10px;
}

.user-index p {
    padding: 10px 0 15px 0;
}

th.success input {
    font-weight: normal;
}

#main {
    padding: 0 30px !important;
}

.content-header h1 {
    padding-left: 15px;
}

.devpreview .demo .column .column {
    margin: -23px 0 0 0;
    border: none !important;
}

.mo-logo .brand:hover {
    color: #fff;
}

a:hover, a:focus {
    text-decoration: none !important;
}

.save-button {
    text-align: right !important;
    margin: 30px 0px !important;
    padding-right: 13px !important;
}

.container {
    background-color: transparent !important;
}

.row.devpreview {
    margin-top: 10px;
}

.demo .box .view, .column .view {
    padding-top: 6px !important;
    padding-bottom: 6px;
}

.view p {
    margin-bottom: 0;
}

.checkbox-c input[type="checkbox"],
.checkbox-c input[type="radio"] {
    height: 18px;
    width: 18px;
}

.view input[type="text"],
.view input[type="email"] {
    height: 35px !important;
    width: 100%;
}

.devpreview .demo .column .row {
    padding: 0;
}

.devpreview .demo .column .row,
.devpreview .demo .column .column {
    padding: 0 !important;
}

.devpreview .demo .row .column:nth-child(2) {
    margin-left: 1px;
    border-left: 0 !important;
    margin-right: 1px;
}

.devpreview .demo .row .column:nth-child(3) {
    border-left: 0 !important;
    margin-left: 0;
}

span.drag.label.label-default {
    font-size: 11px;
}

.ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target {
    color: #000 !important;
}

.ubermenu-item.ubermenu-item-type-post_type.ubermenu-item-object-page.ubermenu-current_page_item {
    background: transparent !important;
}

select {
    min-width: 125px;
}

.mo-footer-embassy .textwidget,
.mo-footer a, .mo-footer-menu li {
    font-size: 16px;
    line-height: 26px;
}

.text-title {
    display: block;
    margin-bottom: 5px;
}

.mo-footer-embassy .textwidget,
.menu-footer-menu-container {
    padding-top: 15px;
}

.mo-footer-menu {
    margin-right: 20px;
}

.empty-active {
    border-width: 1px;
    margin-bottom: 4px;
}

.image-block {
    text-align: center;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
        border-radius: 0 !important;
    }
}

@media (min-width: 992px) {
    #form-data-table td a {
        margin-bottom: 3px;
    }
}

@media (max-width: 768px) {
    .image-block img {
        width: 100% !important;
    }

    .view h1 {
        font-size: 20px !important;
    }

    .view h2 {
        font-size: 17px !important;
    }

    .view p {
        font-size: 15px !important;
    }

    .view h1, .view h2, .view h3, .view h4 {
        padding: 5px;
    }
}

@media (max-width: 568px) {
    .view h1 {
        font-size: 17px !important;
    }

    .view h2 {
        font-size: 15px !important;
    }

    .view p {
        font-size: 13px !important;
    }

    .file-c, .view span {
        font-size: 14px;
        padding-right: 3px;
    }

    .checkbox-c input[type="checkbox"],
    .checkbox-c input[type="radio"] {
        height: 16px;
        width: 17px;
    }

    .table > thead > tr > td.success, .table > tbody > tr > td.success,
    .table > tfoot > tr > td.success, .table > thead > tr > th.success,
    .table > tbody > tr > th.success, .table > tfoot > tr > th.success,
    .table > thead > tr.success > td, .table > tbody > tr.success > td,
    .table > tfoot > tr.success > td, .table > thead > tr.success > th,
    .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
        font-size: 13px;
    }

    .content-user-data p {
        padding: 0;
    }
}
#user-view .box-element{
    padding: 15px 0;
}
